PORT=3002
DB_HOST=localhost
DB_PORT=5432
DB_NAME=user_service_db
DB_USER=postgres
DB_PASSWORD=your_password
AUTH_SERVICE_URL=http://auth-service:3001
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_USER_EVENTS_EXCHANGE=user_events
NODE_ENV=development
