PORT=3005
DB_HOST=localhost
DB_PORT=3306
DB_NAME=order_service_db
DB_USER=root
DB_PASSWORD=yourpassword
AUTH_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
INVENTORY_SERVICE_URL=http://localhost:3003
RABBITMQ_URL=amqp://localhost:5672
